{% extends 'base.html' %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr class="table-success">
      <th scope="row">{{ row.title }}</th>
      <th>{{ row.author }}</th>
      <th>
        <button type="submit" onclick="reserveBook({{row.id}})"">Reserve</button>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
    const reserveBook = (id) => {
        fetch('/reserve_book/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                window.location.reload();
            }
        });
    }

</script>
{% endblock %}
